:root {
  font-size: 1rem;
  --font-family: 'Roboto, sans-serif';
  
  /* colors - each "darker" is 4% darker */
  --font-color: #000;
  --bg-color: hsl(300, 32.1%, 95%);
  --bg-color-darker: hsl(from var(--bg-color) h s calc(l - 3));
  --bg-color-darkest: hsl(from var(--bg-color) h s calc(l - 6));

  --accent-font-color: #000;
  --accent-color: hsl(250, 70%, 76%);
  --accent-color-darker: hsl(from var(--accent-color) h s calc(l - 3));

  --warning-color: hsl(355, 61%, 76%);
  --warning-darker: hsl(from var(--warning-color) h s calc(l - 3));
  
  --success-color: lightgreen;
  --success-darker: hsl(from var(--success-color) h s calc(l - 3));

  /* spacing - each level should double */
  --extra-small: 6px;
  --small: calc(var(--extra-small) * 2);
  --medium: calc(var(--small) * 2);
  --large: calc(var(--medium) * 2);
  --extra-large: calc(var(--large) * 2);
  
  --border-radius: 5px;
}

/* ---------------------- */
/* Main Layout (+ Header) */
body {
  margin: 0 0 var(--large) 0;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

main, nav {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

header {
  background-color: var(--accent-color);
  box-shadow: 0 var(--extra-small) var(--small) var(--bg-color-darker);
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-font-color);
}

.nav-hero, .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 calc(-1 * var(--medium))
}

.nav-hero, .nav-icon {
  padding: var(--medium) var(--small);
}

.nav-icon {
  display: flex;
}

.nav-hero:hover, .nav-icon:hover {
  background-color: var(--accent-color-darker );
}

@media screen and (width <= 600px) {
  .desktop-nav {
    display: none;
  }
}

@media screen and (width > 600px) {
  .desktop-nav {
    display: flex;
  }
}


/* ---------------------- */
/* Dialog */
.dialog-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-button {
  margin: var(--small) 0
}


/* ---------------------- */
/* Components */
h1 {
  margin: var(--extra-large) 0 0 0;
}

h2 {
  margin: var(--large) 0 0 0;
}

h3 {
  margin: var(--medium) 0 0 0;
}

hr {
  margin: var(--medium) 0;
  color: var(--bg-color-darker);
}

dialog {
  padding: var(--medium) var(--extra-large);
  border-radius: var(--border-radius);
  border: solid 2px var(--bg-color-darkest);
  box-shadow: 0 var(--medium) var(--large) var(--bg-color-darkest);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  text-decoration: underline;  
}

button, select, input, textarea {
  background-color: var(--bg-color);
  border: 3px solid var(--bg-color-darker);
  text-decoration: none;
}

button:hover, select:hover, input:hover, textarea:hover {
  background-color: var(--bg-color-darker);
  border-color: var(--bg-color-darkest);
}

button:hover, select:hover {
  text-decoration: underline;  
}

button {
  border-radius: var(--border-radius);
  padding: var(--small) var(--medium);
  font-size: large;
}

select, input, textarea {
  border-radius: var(--border-radius);
  margin: var(--small) 0;
  padding: var(--extra-small) var(--small);
}

textarea {
  font-family: var(--font-family);
  padding: var(--extra-small) var(--small);
  margin: var(--small) 0;
  resize: vertical;
  width: 100%;
}

table {
  max-width: 100vw;
  width: 100%;
  margin-top: var(--small);
}

td, th {
  background-color: var(--bg-color-darker);
  border: 2px solid var(--bg-color-darkest);
  padding: var(--small);
  border-radius: var(--border-radius);
  text-align: start;
}

svg {
  fill: var(--font-color)
}

/* ---------------------- */
/* Classes */
.primary {
  color: var(--accent-font-color);
  background-color: var(--accent-color);
}

.primary:hover {
  background-color: var(--accent-color-darker);
}

.warning {
  background-color: var(--warning-color);
}

.warning:hover {
  background-color: var(--warning-darker);
}

.underlined {
  text-decoration: underline;
}
