@page
@model AdminModel

<div>
    <h1>Admin Panel</h1>
    <form method="post">
        <input
            formaction="Admin?@AdminActions.Migrate"
            type="submit"
            value="Migrate"/>
    </form>
</div>