.Added {
    background-color: var(--success-color);
    border-color: var(--success-darker);
}
.Deleted {
    background-color: var(--warning-color);
    border-color: var(--warning-darker);
}

td {
    width: 50%;
}