.recipe-list-container {
    width: 100%;
}

.recipe-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-list-header-name {
    min-width: 60%;
}

.recipe-list-chip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe-list-chip {
    margin: var(--extra-small);
    padding: var(--extra-small);
    height: fit-content;
    border-radius: var(--border-radius);
    border: 1px solid black;
}