<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(!string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? $"{ViewData["Title"]} - Sous Chef" : "Sous Chef")</title>
    <script type="importmap"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/entrypoint.styles.css" />
    <link rel="icon" type="image/x-icon" href="/icon.png">
</head>
<body>
<header>
    <nav class="nav-container">
        <a class="nav-hero" asp-page="/Index">
            <img height="32px" src="/icon.png" alt="Penguin Logo">
            <span><b>&nbsp;Sous Chef</b></span>
        </a>
        <div class="nav-item">
            <a class="nav-icon" asp-page="/Create">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
            </a>
            <a class="nav-icon" asp-page="/Admin">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M722.5-297.5Q740-315 740-340t-17.5-42.5Q705-400 680-400t-42.5 17.5Q620-365 620-340t17.5 42.5Q655-280 680-280t42.5-17.5ZM680-160q31 0 57-14.5t42-38.5q-22-13-47-20t-52-7q-27 0-52 7t-47 20q16 24 42 38.5t57 14.5ZM480-80q-139-35-229.5-159.5T160-516v-244l320-120 320 120v227q-19-8-39-14.5t-41-9.5v-147l-240-90-240 90v188q0 47 12.5 94t35 89.5Q310-290 342-254t71 60q11 32 29 61t41 52q-1 0-1.5.5t-1.5.5Zm200 0q-83 0-141.5-58.5T480-280q0-83 58.5-141.5T680-480q83 0 141.5 58.5T880-280q0 83-58.5 141.5T680-80ZM480-494Z"/></svg>
            </a>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>