<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - sous_chef</title>
    <script type="importmap"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/entrypoint.styles.css" />
</head>
<body>
<header>
    <!-- TODO fix this error dialog -->
    @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString())) {
        <dialog show>
            <p>@ViewData["ErrorMessage"]</p>
        </dialog>
    }
    <nav class="nav-container">
        <a class="nav-item" asp-page="/Index">Recipes</a>
        <a class="nav-item" asp-page="/Create">Create</a>
    </nav>
</header>
<main>
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>