@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<style>
    .recipe-list-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .recipe-list-container {
        width: 100%;
    }
</style>
<div>
    <div class="recipe-list-header">
        <h1>Recipes</h1>
        <select
            id="category"
            name="category"
            hx-get="/Index?handler=WithFilter"
            hx-target="#recipe-list-container">
            <option value="">Select Category</option>
            <option value="entree">Entree</option>
            <option value="side">Side</option>
            <option value="desert">Desert</option>
        </select>
    </div>
    <div id="recipe-list-container" class="recipe-list-container">
        @await Html.PartialAsync("_RecipeList", Model)
    </div>
</div>
