@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<div>
    <div class="recipe-list-header">
        <h1>Recipes</h1>
        <select
            id="category"
            name="category"
            hx-get="/Index?handler=WithFilter"
            hx-target="#recipe-list-container">
            <option value="">Select Category</option>
            <option value="entree">Entree</option>
            <option value="side">Side</option>
            <option value="desert">Desert</option>
        </select>
    </div>
    <div id="recipe-list-container" class="recipe-list-container">
        @await Html.PartialAsync("_RecipeList", Model)
    </div>
</div>
